// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-btn-arrow-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-x: 262px;
$sp-i-btn-arrow-y: 52px;
$sp-i-btn-arrow-offset-x: -262px;
$sp-i-btn-arrow-offset-y: -52px;
$sp-i-btn-arrow-width: 10px;
$sp-i-btn-arrow-height: 18px;
$sp-i-btn-arrow-total-width: 282px;
$sp-i-btn-arrow-total-height: 175px;
$sp-i-btn-arrow-image: '../image/sprite.png';
$sp-i-btn-arrow: (262px, 52px, -262px, -52px, 10px, 18px, 282px, 175px, '../image/sprite.png', 'sp-i-btn-arrow', );
$sp-i-fb-black-name: 'sp-i-fb-black';
$sp-i-fb-black-x: 190px;
$sp-i-fb-black-y: 106px;
$sp-i-fb-black-offset-x: -190px;
$sp-i-fb-black-offset-y: -106px;
$sp-i-fb-black-width: 8px;
$sp-i-fb-black-height: 18px;
$sp-i-fb-black-total-width: 282px;
$sp-i-fb-black-total-height: 175px;
$sp-i-fb-black-image: '../image/sprite.png';
$sp-i-fb-black: (190px, 106px, -190px, -106px, 8px, 18px, 282px, 175px, '../image/sprite.png', 'sp-i-fb-black', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 203px;
$sp-i-fb-y: 106px;
$sp-i-fb-offset-x: -203px;
$sp-i-fb-offset-y: -106px;
$sp-i-fb-width: 8px;
$sp-i-fb-height: 18px;
$sp-i-fb-total-width: 282px;
$sp-i-fb-total-height: 175px;
$sp-i-fb-image: '../image/sprite.png';
$sp-i-fb: (203px, 106px, -203px, -106px, 8px, 18px, 282px, 175px, '../image/sprite.png', 'sp-i-fb', );
$sp-i-list-name: 'sp-i-list';
$sp-i-list-x: 254px;
$sp-i-list-y: 20px;
$sp-i-list-offset-x: -254px;
$sp-i-list-offset-y: -20px;
$sp-i-list-width: 19px;
$sp-i-list-height: 19px;
$sp-i-list-total-width: 282px;
$sp-i-list-total-height: 175px;
$sp-i-list-image: '../image/sprite.png';
$sp-i-list: (254px, 20px, -254px, -20px, 19px, 19px, 282px, 175px, '../image/sprite.png', 'sp-i-list', );
$sp-i-next-h-name: 'sp-i-next-h';
$sp-i-next-h-x: 190px;
$sp-i-next-h-y: 52px;
$sp-i-next-h-offset-x: -190px;
$sp-i-next-h-offset-y: -52px;
$sp-i-next-h-width: 13px;
$sp-i-next-h-height: 31px;
$sp-i-next-h-total-width: 282px;
$sp-i-next-h-total-height: 175px;
$sp-i-next-h-image: '../image/sprite.png';
$sp-i-next-h: (190px, 52px, -190px, -52px, 13px, 31px, 282px, 175px, '../image/sprite.png', 'sp-i-next-h', );
$sp-i-next-mobile-name: 'sp-i-next-mobile';
$sp-i-next-mobile-x: 0px;
$sp-i-next-mobile-y: 91px;
$sp-i-next-mobile-offset-x: 0px;
$sp-i-next-mobile-offset-y: -91px;
$sp-i-next-mobile-width: 34px;
$sp-i-next-mobile-height: 84px;
$sp-i-next-mobile-total-width: 282px;
$sp-i-next-mobile-total-height: 175px;
$sp-i-next-mobile-image: '../image/sprite.png';
$sp-i-next-mobile: (0px, 91px, 0px, -91px, 34px, 84px, 282px, 175px, '../image/sprite.png', 'sp-i-next-mobile', );
$sp-i-next-name: 'sp-i-next';
$sp-i-next-x: 208px;
$sp-i-next-y: 52px;
$sp-i-next-offset-x: -208px;
$sp-i-next-offset-y: -52px;
$sp-i-next-width: 13px;
$sp-i-next-height: 31px;
$sp-i-next-total-width: 282px;
$sp-i-next-total-height: 175px;
$sp-i-next-image: '../image/sprite.png';
$sp-i-next: (208px, 52px, -208px, -52px, 13px, 31px, 282px, 175px, '../image/sprite.png', 'sp-i-next', );
$sp-i-prev-h-name: 'sp-i-prev-h';
$sp-i-prev-h-x: 244px;
$sp-i-prev-h-y: 52px;
$sp-i-prev-h-offset-x: -244px;
$sp-i-prev-h-offset-y: -52px;
$sp-i-prev-h-width: 13px;
$sp-i-prev-h-height: 30px;
$sp-i-prev-h-total-width: 282px;
$sp-i-prev-h-total-height: 175px;
$sp-i-prev-h-image: '../image/sprite.png';
$sp-i-prev-h: (244px, 52px, -244px, -52px, 13px, 30px, 282px, 175px, '../image/sprite.png', 'sp-i-prev-h', );
$sp-i-prev-mobile-name: 'sp-i-prev-mobile';
$sp-i-prev-mobile-x: 39px;
$sp-i-prev-mobile-y: 91px;
$sp-i-prev-mobile-offset-x: -39px;
$sp-i-prev-mobile-offset-y: -91px;
$sp-i-prev-mobile-width: 34px;
$sp-i-prev-mobile-height: 83px;
$sp-i-prev-mobile-total-width: 282px;
$sp-i-prev-mobile-total-height: 175px;
$sp-i-prev-mobile-image: '../image/sprite.png';
$sp-i-prev-mobile: (39px, 91px, -39px, -91px, 34px, 83px, 282px, 175px, '../image/sprite.png', 'sp-i-prev-mobile', );
$sp-i-prev-name: 'sp-i-prev';
$sp-i-prev-x: 226px;
$sp-i-prev-y: 52px;
$sp-i-prev-offset-x: -226px;
$sp-i-prev-offset-y: -52px;
$sp-i-prev-width: 13px;
$sp-i-prev-height: 30px;
$sp-i-prev-total-width: 282px;
$sp-i-prev-total-height: 175px;
$sp-i-prev-image: '../image/sprite.png';
$sp-i-prev: (226px, 52px, -226px, -52px, 13px, 30px, 282px, 175px, '../image/sprite.png', 'sp-i-prev', );
$sp-i-radiobtn-active-name: 'sp-i-radiobtn-active';
$sp-i-radiobtn-active-x: 190px;
$sp-i-radiobtn-active-y: 20px;
$sp-i-radiobtn-active-offset-x: -190px;
$sp-i-radiobtn-active-offset-y: -20px;
$sp-i-radiobtn-active-width: 27px;
$sp-i-radiobtn-active-height: 27px;
$sp-i-radiobtn-active-total-width: 282px;
$sp-i-radiobtn-active-total-height: 175px;
$sp-i-radiobtn-active-image: '../image/sprite.png';
$sp-i-radiobtn-active: (190px, 20px, -190px, -20px, 27px, 27px, 282px, 175px, '../image/sprite.png', 'sp-i-radiobtn-active', );
$sp-i-radiobtn-name: 'sp-i-radiobtn';
$sp-i-radiobtn-x: 222px;
$sp-i-radiobtn-y: 20px;
$sp-i-radiobtn-offset-x: -222px;
$sp-i-radiobtn-offset-y: -20px;
$sp-i-radiobtn-width: 27px;
$sp-i-radiobtn-height: 27px;
$sp-i-radiobtn-total-width: 282px;
$sp-i-radiobtn-total-height: 175px;
$sp-i-radiobtn-image: '../image/sprite.png';
$sp-i-radiobtn: (222px, 20px, -222px, -20px, 27px, 27px, 282px, 175px, '../image/sprite.png', 'sp-i-radiobtn', );
$sp-i-video-arrow-0-name: 'sp-i-video-arrow-0';
$sp-i-video-arrow-0-x: 78px;
$sp-i-video-arrow-0-y: 131px;
$sp-i-video-arrow-0-offset-x: -78px;
$sp-i-video-arrow-0-offset-y: -131px;
$sp-i-video-arrow-0-width: 72px;
$sp-i-video-arrow-0-height: 32px;
$sp-i-video-arrow-0-total-width: 282px;
$sp-i-video-arrow-0-total-height: 175px;
$sp-i-video-arrow-0-image: '../image/sprite.png';
$sp-i-video-arrow-0: (78px, 131px, -78px, -131px, 72px, 32px, 282px, 175px, '../image/sprite.png', 'sp-i-video-arrow-0', );
$sp-i-video-arrow-1-name: 'sp-i-video-arrow-1';
$sp-i-video-arrow-1-x: 78px;
$sp-i-video-arrow-1-y: 91px;
$sp-i-video-arrow-1-offset-x: -78px;
$sp-i-video-arrow-1-offset-y: -91px;
$sp-i-video-arrow-1-width: 75px;
$sp-i-video-arrow-1-height: 35px;
$sp-i-video-arrow-1-total-width: 282px;
$sp-i-video-arrow-1-total-height: 175px;
$sp-i-video-arrow-1-image: '../image/sprite.png';
$sp-i-video-arrow-1: (78px, 91px, -78px, -91px, 75px, 35px, 282px, 175px, '../image/sprite.png', 'sp-i-video-arrow-1', );
$sp-i-vk-black-name: 'sp-i-vk-black';
$sp-i-vk-black-x: 190px;
$sp-i-vk-black-y: 88px;
$sp-i-vk-black-offset-x: -190px;
$sp-i-vk-black-offset-y: -88px;
$sp-i-vk-black-width: 22px;
$sp-i-vk-black-height: 13px;
$sp-i-vk-black-total-width: 282px;
$sp-i-vk-black-total-height: 175px;
$sp-i-vk-black-image: '../image/sprite.png';
$sp-i-vk-black: (190px, 88px, -190px, -88px, 22px, 13px, 282px, 175px, '../image/sprite.png', 'sp-i-vk-black', );
$sp-i-vk-name: 'sp-i-vk';
$sp-i-vk-x: 217px;
$sp-i-vk-y: 88px;
$sp-i-vk-offset-x: -217px;
$sp-i-vk-offset-y: -88px;
$sp-i-vk-width: 22px;
$sp-i-vk-height: 13px;
$sp-i-vk-total-width: 282px;
$sp-i-vk-total-height: 175px;
$sp-i-vk-image: '../image/sprite.png';
$sp-i-vk: (217px, 88px, -217px, -88px, 22px, 13px, 282px, 175px, '../image/sprite.png', 'sp-i-vk', );
$sp-img-logotype-car-0-name: 'sp-img-logotype-car-0';
$sp-img-logotype-car-0-x: 0px;
$sp-img-logotype-car-0-y: 0px;
$sp-img-logotype-car-0-offset-x: 0px;
$sp-img-logotype-car-0-offset-y: 0px;
$sp-img-logotype-car-0-width: 185px;
$sp-img-logotype-car-0-height: 86px;
$sp-img-logotype-car-0-total-width: 282px;
$sp-img-logotype-car-0-total-height: 175px;
$sp-img-logotype-car-0-image: '../image/sprite.png';
$sp-img-logotype-car-0: (0px, 0px, 0px, 0px, 185px, 86px, 282px, 175px, '../image/sprite.png', 'sp-img-logotype-car-0', );
$sp-img-logotype-car-1-name: 'sp-img-logotype-car-1';
$sp-img-logotype-car-1-x: 190px;
$sp-img-logotype-car-1-y: 0px;
$sp-img-logotype-car-1-offset-x: -190px;
$sp-img-logotype-car-1-offset-y: 0px;
$sp-img-logotype-car-1-width: 92px;
$sp-img-logotype-car-1-height: 15px;
$sp-img-logotype-car-1-total-width: 282px;
$sp-img-logotype-car-1-total-height: 175px;
$sp-img-logotype-car-1-image: '../image/sprite.png';
$sp-img-logotype-car-1: (190px, 0px, -190px, 0px, 92px, 15px, 282px, 175px, '../image/sprite.png', 'sp-img-logotype-car-1', );
$sp-i-btn-arrow-2x-name: 'sp-i-btn-arrow@2x';
$sp-i-btn-arrow-2x-x: 524px;
$sp-i-btn-arrow-2x-y: 104px;
$sp-i-btn-arrow-2x-offset-x: -524px;
$sp-i-btn-arrow-2x-offset-y: -104px;
$sp-i-btn-arrow-2x-width: 20px;
$sp-i-btn-arrow-2x-height: 36px;
$sp-i-btn-arrow-2x-total-width: 564px;
$sp-i-btn-arrow-2x-total-height: 350px;
$sp-i-btn-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-btn-arrow-2x: (524px, 104px, -524px, -104px, 20px, 36px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-btn-arrow@2x', );
$sp-i-fb-black-2x-name: 'sp-i-fb-black@2x';
$sp-i-fb-black-2x-x: 380px;
$sp-i-fb-black-2x-y: 212px;
$sp-i-fb-black-2x-offset-x: -380px;
$sp-i-fb-black-2x-offset-y: -212px;
$sp-i-fb-black-2x-width: 16px;
$sp-i-fb-black-2x-height: 36px;
$sp-i-fb-black-2x-total-width: 564px;
$sp-i-fb-black-2x-total-height: 350px;
$sp-i-fb-black-2x-image: '../image/sprite@2x.png';
$sp-i-fb-black-2x: (380px, 212px, -380px, -212px, 16px, 36px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-fb-black@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 406px;
$sp-i-fb-2x-y: 212px;
$sp-i-fb-2x-offset-x: -406px;
$sp-i-fb-2x-offset-y: -212px;
$sp-i-fb-2x-width: 16px;
$sp-i-fb-2x-height: 36px;
$sp-i-fb-2x-total-width: 564px;
$sp-i-fb-2x-total-height: 350px;
$sp-i-fb-2x-image: '../image/sprite@2x.png';
$sp-i-fb-2x: (406px, 212px, -406px, -212px, 16px, 36px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-fb@2x', );
$sp-i-list-2x-name: 'sp-i-list@2x';
$sp-i-list-2x-x: 508px;
$sp-i-list-2x-y: 40px;
$sp-i-list-2x-offset-x: -508px;
$sp-i-list-2x-offset-y: -40px;
$sp-i-list-2x-width: 38px;
$sp-i-list-2x-height: 38px;
$sp-i-list-2x-total-width: 564px;
$sp-i-list-2x-total-height: 350px;
$sp-i-list-2x-image: '../image/sprite@2x.png';
$sp-i-list-2x: (508px, 40px, -508px, -40px, 38px, 38px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-list@2x', );
$sp-i-next-h-2x-name: 'sp-i-next-h@2x';
$sp-i-next-h-2x-x: 380px;
$sp-i-next-h-2x-y: 104px;
$sp-i-next-h-2x-offset-x: -380px;
$sp-i-next-h-2x-offset-y: -104px;
$sp-i-next-h-2x-width: 26px;
$sp-i-next-h-2x-height: 62px;
$sp-i-next-h-2x-total-width: 564px;
$sp-i-next-h-2x-total-height: 350px;
$sp-i-next-h-2x-image: '../image/sprite@2x.png';
$sp-i-next-h-2x: (380px, 104px, -380px, -104px, 26px, 62px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-next-h@2x', );
$sp-i-next-mobile-2x-name: 'sp-i-next-mobile@2x';
$sp-i-next-mobile-2x-x: 0px;
$sp-i-next-mobile-2x-y: 182px;
$sp-i-next-mobile-2x-offset-x: 0px;
$sp-i-next-mobile-2x-offset-y: -182px;
$sp-i-next-mobile-2x-width: 68px;
$sp-i-next-mobile-2x-height: 168px;
$sp-i-next-mobile-2x-total-width: 564px;
$sp-i-next-mobile-2x-total-height: 350px;
$sp-i-next-mobile-2x-image: '../image/sprite@2x.png';
$sp-i-next-mobile-2x: (0px, 182px, 0px, -182px, 68px, 168px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-next-mobile@2x', );
$sp-i-next-2x-name: 'sp-i-next@2x';
$sp-i-next-2x-x: 416px;
$sp-i-next-2x-y: 104px;
$sp-i-next-2x-offset-x: -416px;
$sp-i-next-2x-offset-y: -104px;
$sp-i-next-2x-width: 26px;
$sp-i-next-2x-height: 62px;
$sp-i-next-2x-total-width: 564px;
$sp-i-next-2x-total-height: 350px;
$sp-i-next-2x-image: '../image/sprite@2x.png';
$sp-i-next-2x: (416px, 104px, -416px, -104px, 26px, 62px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-next@2x', );
$sp-i-prev-h-2x-name: 'sp-i-prev-h@2x';
$sp-i-prev-h-2x-x: 488px;
$sp-i-prev-h-2x-y: 104px;
$sp-i-prev-h-2x-offset-x: -488px;
$sp-i-prev-h-2x-offset-y: -104px;
$sp-i-prev-h-2x-width: 26px;
$sp-i-prev-h-2x-height: 60px;
$sp-i-prev-h-2x-total-width: 564px;
$sp-i-prev-h-2x-total-height: 350px;
$sp-i-prev-h-2x-image: '../image/sprite@2x.png';
$sp-i-prev-h-2x: (488px, 104px, -488px, -104px, 26px, 60px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-prev-h@2x', );
$sp-i-prev-mobile-2x-name: 'sp-i-prev-mobile@2x';
$sp-i-prev-mobile-2x-x: 78px;
$sp-i-prev-mobile-2x-y: 182px;
$sp-i-prev-mobile-2x-offset-x: -78px;
$sp-i-prev-mobile-2x-offset-y: -182px;
$sp-i-prev-mobile-2x-width: 68px;
$sp-i-prev-mobile-2x-height: 166px;
$sp-i-prev-mobile-2x-total-width: 564px;
$sp-i-prev-mobile-2x-total-height: 350px;
$sp-i-prev-mobile-2x-image: '../image/sprite@2x.png';
$sp-i-prev-mobile-2x: (78px, 182px, -78px, -182px, 68px, 166px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-prev-mobile@2x', );
$sp-i-prev-2x-name: 'sp-i-prev@2x';
$sp-i-prev-2x-x: 452px;
$sp-i-prev-2x-y: 104px;
$sp-i-prev-2x-offset-x: -452px;
$sp-i-prev-2x-offset-y: -104px;
$sp-i-prev-2x-width: 26px;
$sp-i-prev-2x-height: 60px;
$sp-i-prev-2x-total-width: 564px;
$sp-i-prev-2x-total-height: 350px;
$sp-i-prev-2x-image: '../image/sprite@2x.png';
$sp-i-prev-2x: (452px, 104px, -452px, -104px, 26px, 60px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-prev@2x', );
$sp-i-radiobtn-active-2x-name: 'sp-i-radiobtn-active@2x';
$sp-i-radiobtn-active-2x-x: 380px;
$sp-i-radiobtn-active-2x-y: 40px;
$sp-i-radiobtn-active-2x-offset-x: -380px;
$sp-i-radiobtn-active-2x-offset-y: -40px;
$sp-i-radiobtn-active-2x-width: 54px;
$sp-i-radiobtn-active-2x-height: 54px;
$sp-i-radiobtn-active-2x-total-width: 564px;
$sp-i-radiobtn-active-2x-total-height: 350px;
$sp-i-radiobtn-active-2x-image: '../image/sprite@2x.png';
$sp-i-radiobtn-active-2x: (380px, 40px, -380px, -40px, 54px, 54px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-radiobtn-active@2x', );
$sp-i-radiobtn-2x-name: 'sp-i-radiobtn@2x';
$sp-i-radiobtn-2x-x: 444px;
$sp-i-radiobtn-2x-y: 40px;
$sp-i-radiobtn-2x-offset-x: -444px;
$sp-i-radiobtn-2x-offset-y: -40px;
$sp-i-radiobtn-2x-width: 54px;
$sp-i-radiobtn-2x-height: 54px;
$sp-i-radiobtn-2x-total-width: 564px;
$sp-i-radiobtn-2x-total-height: 350px;
$sp-i-radiobtn-2x-image: '../image/sprite@2x.png';
$sp-i-radiobtn-2x: (444px, 40px, -444px, -40px, 54px, 54px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-radiobtn@2x', );
$sp-i-video-arrow-0-2x-name: 'sp-i-video-arrow-0@2x';
$sp-i-video-arrow-0-2x-x: 156px;
$sp-i-video-arrow-0-2x-y: 262px;
$sp-i-video-arrow-0-2x-offset-x: -156px;
$sp-i-video-arrow-0-2x-offset-y: -262px;
$sp-i-video-arrow-0-2x-width: 144px;
$sp-i-video-arrow-0-2x-height: 64px;
$sp-i-video-arrow-0-2x-total-width: 564px;
$sp-i-video-arrow-0-2x-total-height: 350px;
$sp-i-video-arrow-0-2x-image: '../image/sprite@2x.png';
$sp-i-video-arrow-0-2x: (156px, 262px, -156px, -262px, 144px, 64px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-video-arrow-0@2x', );
$sp-i-video-arrow-1-2x-name: 'sp-i-video-arrow-1@2x';
$sp-i-video-arrow-1-2x-x: 156px;
$sp-i-video-arrow-1-2x-y: 182px;
$sp-i-video-arrow-1-2x-offset-x: -156px;
$sp-i-video-arrow-1-2x-offset-y: -182px;
$sp-i-video-arrow-1-2x-width: 150px;
$sp-i-video-arrow-1-2x-height: 70px;
$sp-i-video-arrow-1-2x-total-width: 564px;
$sp-i-video-arrow-1-2x-total-height: 350px;
$sp-i-video-arrow-1-2x-image: '../image/sprite@2x.png';
$sp-i-video-arrow-1-2x: (156px, 182px, -156px, -182px, 150px, 70px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-video-arrow-1@2x', );
$sp-i-vk-black-2x-name: 'sp-i-vk-black@2x';
$sp-i-vk-black-2x-x: 380px;
$sp-i-vk-black-2x-y: 176px;
$sp-i-vk-black-2x-offset-x: -380px;
$sp-i-vk-black-2x-offset-y: -176px;
$sp-i-vk-black-2x-width: 44px;
$sp-i-vk-black-2x-height: 26px;
$sp-i-vk-black-2x-total-width: 564px;
$sp-i-vk-black-2x-total-height: 350px;
$sp-i-vk-black-2x-image: '../image/sprite@2x.png';
$sp-i-vk-black-2x: (380px, 176px, -380px, -176px, 44px, 26px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-vk-black@2x', );
$sp-i-vk-2x-name: 'sp-i-vk@2x';
$sp-i-vk-2x-x: 434px;
$sp-i-vk-2x-y: 176px;
$sp-i-vk-2x-offset-x: -434px;
$sp-i-vk-2x-offset-y: -176px;
$sp-i-vk-2x-width: 44px;
$sp-i-vk-2x-height: 26px;
$sp-i-vk-2x-total-width: 564px;
$sp-i-vk-2x-total-height: 350px;
$sp-i-vk-2x-image: '../image/sprite@2x.png';
$sp-i-vk-2x: (434px, 176px, -434px, -176px, 44px, 26px, 564px, 350px, '../image/sprite@2x.png', 'sp-i-vk@2x', );
$sp-img-logotype-car-0-2x-name: 'sp-img-logotype-car-0@2x';
$sp-img-logotype-car-0-2x-x: 0px;
$sp-img-logotype-car-0-2x-y: 0px;
$sp-img-logotype-car-0-2x-offset-x: 0px;
$sp-img-logotype-car-0-2x-offset-y: 0px;
$sp-img-logotype-car-0-2x-width: 370px;
$sp-img-logotype-car-0-2x-height: 172px;
$sp-img-logotype-car-0-2x-total-width: 564px;
$sp-img-logotype-car-0-2x-total-height: 350px;
$sp-img-logotype-car-0-2x-image: '../image/sprite@2x.png';
$sp-img-logotype-car-0-2x: (0px, 0px, 0px, 0px, 370px, 172px, 564px, 350px, '../image/sprite@2x.png', 'sp-img-logotype-car-0@2x', );
$sp-img-logotype-car-1-2x-name: 'sp-img-logotype-car-1@2x';
$sp-img-logotype-car-1-2x-x: 380px;
$sp-img-logotype-car-1-2x-y: 0px;
$sp-img-logotype-car-1-2x-offset-x: -380px;
$sp-img-logotype-car-1-2x-offset-y: 0px;
$sp-img-logotype-car-1-2x-width: 184px;
$sp-img-logotype-car-1-2x-height: 30px;
$sp-img-logotype-car-1-2x-total-width: 564px;
$sp-img-logotype-car-1-2x-total-height: 350px;
$sp-img-logotype-car-1-2x-image: '../image/sprite@2x.png';
$sp-img-logotype-car-1-2x: (380px, 0px, -380px, 0px, 184px, 30px, 564px, 350px, '../image/sprite@2x.png', 'sp-img-logotype-car-1@2x', );
$spritesheet-width: 282px;
$spritesheet-height: 175px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-btn-arrow, $sp-i-fb-black, $sp-i-fb, $sp-i-list, $sp-i-next-h, $sp-i-next-mobile, $sp-i-next, $sp-i-prev-h, $sp-i-prev-mobile, $sp-i-prev, $sp-i-radiobtn-active, $sp-i-radiobtn, $sp-i-video-arrow-0, $sp-i-video-arrow-1, $sp-i-vk-black, $sp-i-vk, $sp-img-logotype-car-0, $sp-img-logotype-car-1, );
$spritesheet: (282px, 175px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 564px;
$retina-spritesheet-height: 350px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-btn-arrow-2x, $sp-i-fb-black-2x, $sp-i-fb-2x, $sp-i-list-2x, $sp-i-next-h-2x, $sp-i-next-mobile-2x, $sp-i-next-2x, $sp-i-prev-h-2x, $sp-i-prev-mobile-2x, $sp-i-prev-2x, $sp-i-radiobtn-active-2x, $sp-i-radiobtn-2x, $sp-i-video-arrow-0-2x, $sp-i-video-arrow-1-2x, $sp-i-vk-black-2x, $sp-i-vk-2x, $sp-img-logotype-car-0-2x, $sp-img-logotype-car-1-2x, );
$retina-spritesheet: (564px, 350px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-btn-arrow-group-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-group: ('sp-i-btn-arrow', $sp-i-btn-arrow, $sp-i-btn-arrow-2x, );
$sp-i-fb-black-group-name: 'sp-i-fb-black';
$sp-i-fb-black-group: ('sp-i-fb-black', $sp-i-fb-black, $sp-i-fb-black-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-list-group-name: 'sp-i-list';
$sp-i-list-group: ('sp-i-list', $sp-i-list, $sp-i-list-2x, );
$sp-i-next-h-group-name: 'sp-i-next-h';
$sp-i-next-h-group: ('sp-i-next-h', $sp-i-next-h, $sp-i-next-h-2x, );
$sp-i-next-mobile-group-name: 'sp-i-next-mobile';
$sp-i-next-mobile-group: ('sp-i-next-mobile', $sp-i-next-mobile, $sp-i-next-mobile-2x, );
$sp-i-next-group-name: 'sp-i-next';
$sp-i-next-group: ('sp-i-next', $sp-i-next, $sp-i-next-2x, );
$sp-i-prev-h-group-name: 'sp-i-prev-h';
$sp-i-prev-h-group: ('sp-i-prev-h', $sp-i-prev-h, $sp-i-prev-h-2x, );
$sp-i-prev-mobile-group-name: 'sp-i-prev-mobile';
$sp-i-prev-mobile-group: ('sp-i-prev-mobile', $sp-i-prev-mobile, $sp-i-prev-mobile-2x, );
$sp-i-prev-group-name: 'sp-i-prev';
$sp-i-prev-group: ('sp-i-prev', $sp-i-prev, $sp-i-prev-2x, );
$sp-i-radiobtn-active-group-name: 'sp-i-radiobtn-active';
$sp-i-radiobtn-active-group: ('sp-i-radiobtn-active', $sp-i-radiobtn-active, $sp-i-radiobtn-active-2x, );
$sp-i-radiobtn-group-name: 'sp-i-radiobtn';
$sp-i-radiobtn-group: ('sp-i-radiobtn', $sp-i-radiobtn, $sp-i-radiobtn-2x, );
$sp-i-video-arrow-0-group-name: 'sp-i-video-arrow-0';
$sp-i-video-arrow-0-group: ('sp-i-video-arrow-0', $sp-i-video-arrow-0, $sp-i-video-arrow-0-2x, );
$sp-i-video-arrow-1-group-name: 'sp-i-video-arrow-1';
$sp-i-video-arrow-1-group: ('sp-i-video-arrow-1', $sp-i-video-arrow-1, $sp-i-video-arrow-1-2x, );
$sp-i-vk-black-group-name: 'sp-i-vk-black';
$sp-i-vk-black-group: ('sp-i-vk-black', $sp-i-vk-black, $sp-i-vk-black-2x, );
$sp-i-vk-group-name: 'sp-i-vk';
$sp-i-vk-group: ('sp-i-vk', $sp-i-vk, $sp-i-vk-2x, );
$sp-img-logotype-car-0-group-name: 'sp-img-logotype-car-0';
$sp-img-logotype-car-0-group: ('sp-img-logotype-car-0', $sp-img-logotype-car-0, $sp-img-logotype-car-0-2x, );
$sp-img-logotype-car-1-group-name: 'sp-img-logotype-car-1';
$sp-img-logotype-car-1-group: ('sp-img-logotype-car-1', $sp-img-logotype-car-1, $sp-img-logotype-car-1-2x, );
$retina-groups: ($sp-i-btn-arrow-group, $sp-i-fb-black-group, $sp-i-fb-group, $sp-i-list-group, $sp-i-next-h-group, $sp-i-next-mobile-group, $sp-i-next-group, $sp-i-prev-h-group, $sp-i-prev-mobile-group, $sp-i-prev-group, $sp-i-radiobtn-active-group, $sp-i-radiobtn-group, $sp-i-video-arrow-0-group, $sp-i-video-arrow-1-group, $sp-i-vk-black-group, $sp-i-vk-group, $sp-img-logotype-car-0-group, $sp-img-logotype-car-1-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
