// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-btn-arrow-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-x: 0px;
$sp-i-btn-arrow-y: 111px;
$sp-i-btn-arrow-offset-x: 0px;
$sp-i-btn-arrow-offset-y: -111px;
$sp-i-btn-arrow-width: 10px;
$sp-i-btn-arrow-height: 18px;
$sp-i-btn-arrow-total-width: 185px;
$sp-i-btn-arrow-total-height: 129px;
$sp-i-btn-arrow-image: '../image/sprite.png';
$sp-i-btn-arrow: (0px, 111px, 0px, -111px, 10px, 18px, 185px, 129px, '../image/sprite.png', 'sp-i-btn-arrow', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 15px;
$sp-i-fb-y: 111px;
$sp-i-fb-offset-x: -15px;
$sp-i-fb-offset-y: -111px;
$sp-i-fb-width: 8px;
$sp-i-fb-height: 18px;
$sp-i-fb-total-width: 185px;
$sp-i-fb-total-height: 129px;
$sp-i-fb-image: '../image/sprite.png';
$sp-i-fb: (15px, 111px, -15px, -111px, 8px, 18px, 185px, 129px, '../image/sprite.png', 'sp-i-fb', );
$sp-i-vk-name: 'sp-i-vk';
$sp-i-vk-x: 97px;
$sp-i-vk-y: 91px;
$sp-i-vk-offset-x: -97px;
$sp-i-vk-offset-y: -91px;
$sp-i-vk-width: 22px;
$sp-i-vk-height: 13px;
$sp-i-vk-total-width: 185px;
$sp-i-vk-total-height: 129px;
$sp-i-vk-image: '../image/sprite.png';
$sp-i-vk: (97px, 91px, -97px, -91px, 22px, 13px, 185px, 129px, '../image/sprite.png', 'sp-i-vk', );
$sp-img-logotype-car-0-name: 'sp-img-logotype-car-0';
$sp-img-logotype-car-0-x: 0px;
$sp-img-logotype-car-0-y: 0px;
$sp-img-logotype-car-0-offset-x: 0px;
$sp-img-logotype-car-0-offset-y: 0px;
$sp-img-logotype-car-0-width: 185px;
$sp-img-logotype-car-0-height: 86px;
$sp-img-logotype-car-0-total-width: 185px;
$sp-img-logotype-car-0-total-height: 129px;
$sp-img-logotype-car-0-image: '../image/sprite.png';
$sp-img-logotype-car-0: (0px, 0px, 0px, 0px, 185px, 86px, 185px, 129px, '../image/sprite.png', 'sp-img-logotype-car-0', );
$sp-img-logotype-car-1-name: 'sp-img-logotype-car-1';
$sp-img-logotype-car-1-x: 0px;
$sp-img-logotype-car-1-y: 91px;
$sp-img-logotype-car-1-offset-x: 0px;
$sp-img-logotype-car-1-offset-y: -91px;
$sp-img-logotype-car-1-width: 92px;
$sp-img-logotype-car-1-height: 15px;
$sp-img-logotype-car-1-total-width: 185px;
$sp-img-logotype-car-1-total-height: 129px;
$sp-img-logotype-car-1-image: '../image/sprite.png';
$sp-img-logotype-car-1: (0px, 91px, 0px, -91px, 92px, 15px, 185px, 129px, '../image/sprite.png', 'sp-img-logotype-car-1', );
$sp-i-btn-arrow-2x-name: 'sp-i-btn-arrow@2x';
$sp-i-btn-arrow-2x-x: 0px;
$sp-i-btn-arrow-2x-y: 222px;
$sp-i-btn-arrow-2x-offset-x: 0px;
$sp-i-btn-arrow-2x-offset-y: -222px;
$sp-i-btn-arrow-2x-width: 20px;
$sp-i-btn-arrow-2x-height: 36px;
$sp-i-btn-arrow-2x-total-width: 370px;
$sp-i-btn-arrow-2x-total-height: 258px;
$sp-i-btn-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-btn-arrow-2x: (0px, 222px, 0px, -222px, 20px, 36px, 370px, 258px, '../image/sprite@2x.png', 'sp-i-btn-arrow@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 30px;
$sp-i-fb-2x-y: 222px;
$sp-i-fb-2x-offset-x: -30px;
$sp-i-fb-2x-offset-y: -222px;
$sp-i-fb-2x-width: 16px;
$sp-i-fb-2x-height: 36px;
$sp-i-fb-2x-total-width: 370px;
$sp-i-fb-2x-total-height: 258px;
$sp-i-fb-2x-image: '../image/sprite@2x.png';
$sp-i-fb-2x: (30px, 222px, -30px, -222px, 16px, 36px, 370px, 258px, '../image/sprite@2x.png', 'sp-i-fb@2x', );
$sp-i-vk-2x-name: 'sp-i-vk@2x';
$sp-i-vk-2x-x: 194px;
$sp-i-vk-2x-y: 182px;
$sp-i-vk-2x-offset-x: -194px;
$sp-i-vk-2x-offset-y: -182px;
$sp-i-vk-2x-width: 44px;
$sp-i-vk-2x-height: 26px;
$sp-i-vk-2x-total-width: 370px;
$sp-i-vk-2x-total-height: 258px;
$sp-i-vk-2x-image: '../image/sprite@2x.png';
$sp-i-vk-2x: (194px, 182px, -194px, -182px, 44px, 26px, 370px, 258px, '../image/sprite@2x.png', 'sp-i-vk@2x', );
$sp-img-logotype-car-0-2x-name: 'sp-img-logotype-car-0@2x';
$sp-img-logotype-car-0-2x-x: 0px;
$sp-img-logotype-car-0-2x-y: 0px;
$sp-img-logotype-car-0-2x-offset-x: 0px;
$sp-img-logotype-car-0-2x-offset-y: 0px;
$sp-img-logotype-car-0-2x-width: 370px;
$sp-img-logotype-car-0-2x-height: 172px;
$sp-img-logotype-car-0-2x-total-width: 370px;
$sp-img-logotype-car-0-2x-total-height: 258px;
$sp-img-logotype-car-0-2x-image: '../image/sprite@2x.png';
$sp-img-logotype-car-0-2x: (0px, 0px, 0px, 0px, 370px, 172px, 370px, 258px, '../image/sprite@2x.png', 'sp-img-logotype-car-0@2x', );
$sp-img-logotype-car-1-2x-name: 'sp-img-logotype-car-1@2x';
$sp-img-logotype-car-1-2x-x: 0px;
$sp-img-logotype-car-1-2x-y: 182px;
$sp-img-logotype-car-1-2x-offset-x: 0px;
$sp-img-logotype-car-1-2x-offset-y: -182px;
$sp-img-logotype-car-1-2x-width: 184px;
$sp-img-logotype-car-1-2x-height: 30px;
$sp-img-logotype-car-1-2x-total-width: 370px;
$sp-img-logotype-car-1-2x-total-height: 258px;
$sp-img-logotype-car-1-2x-image: '../image/sprite@2x.png';
$sp-img-logotype-car-1-2x: (0px, 182px, 0px, -182px, 184px, 30px, 370px, 258px, '../image/sprite@2x.png', 'sp-img-logotype-car-1@2x', );
$spritesheet-width: 185px;
$spritesheet-height: 129px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-btn-arrow, $sp-i-fb, $sp-i-vk, $sp-img-logotype-car-0, $sp-img-logotype-car-1, );
$spritesheet: (185px, 129px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 370px;
$retina-spritesheet-height: 258px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-btn-arrow-2x, $sp-i-fb-2x, $sp-i-vk-2x, $sp-img-logotype-car-0-2x, $sp-img-logotype-car-1-2x, );
$retina-spritesheet: (370px, 258px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-btn-arrow-group-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-group: ('sp-i-btn-arrow', $sp-i-btn-arrow, $sp-i-btn-arrow-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-vk-group-name: 'sp-i-vk';
$sp-i-vk-group: ('sp-i-vk', $sp-i-vk, $sp-i-vk-2x, );
$sp-img-logotype-car-0-group-name: 'sp-img-logotype-car-0';
$sp-img-logotype-car-0-group: ('sp-img-logotype-car-0', $sp-img-logotype-car-0, $sp-img-logotype-car-0-2x, );
$sp-img-logotype-car-1-group-name: 'sp-img-logotype-car-1';
$sp-img-logotype-car-1-group: ('sp-img-logotype-car-1', $sp-img-logotype-car-1, $sp-img-logotype-car-1-2x, );
$retina-groups: ($sp-i-btn-arrow-group, $sp-i-fb-group, $sp-i-vk-group, $sp-img-logotype-car-0-group, $sp-img-logotype-car-1-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
