///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			: return-value(color, white);
$c-ruby 			: return-value(color, ruby);
$c-nero 			: return-value(color, nero);

$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN
///
.car {
  padding: {
    top: 200px;
    bottom: 100px;
  }


  &__left,
  &__right {
    float: left;
    width: 50%;
  }


  &__logotype {
    &-0 {
      margin-bottom: 15px;
      @include retina-sprite($sp-img-logotype-car-1-group);
    }


    &-1 {
      @include retina-sprite($sp-img-logotype-car-0-group);
    }


    &-0,
    &-1 {
      display: block;
    }
  }


  &__line {
    clear: both;
    @include mixinDimensions(74px, 4px);
    border: none;
    background-color: $c-ruby;
    margin: {
      top: 30px;
      left: 0;
      right: 0;
      bottom: 15px;
    }
  }


  &__text {
    font: {
      size: 35px;
      family: $f-PN_bold;
    }
    color: $c-nero;
  }
}