///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";

@import "../_template/_main/_macros/btn-social";
@import "../_template/_main/_macros/btn-burger";

@import "../_template/_macros/header__top";
@import "../_template/_macros/header__fixed";
@import "../_template/_macros/nav";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-ruby 			      : return-value(color, ruby);

$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN
///
.header {
	overflow: hidden;
	padding-bottom: 100px;
	@include respond-to(small-max) {
		padding-bottom: 0;
	}


	&__row {
		position: relative;
		padding-top: 100px;
		@include respond-to(small-max) {
			padding-top: 60px;
		}


		&-text {
			position: absolute;
			top: 120px;
			left: 35%;
			font: {
				size: 55px;
				family: $f-PN_black;
			}
			color: $c-ruby;
			text-transform: uppercase;
			line-height: 1;
			transform: rotate(-10deg);
			@include respond-to(medium) {
				font-size: 40px;
			}
			@include respond-to(small-max) {
				font-size: 20px;
				top: 80px;
				left: 55%;
			}
		}


		&-left {
			float: left;
			width: 35%;
			@include respond-to(small-max) {
				width: 60%;
			}
		}


		&-right {
			float: right;
			width: 65%;
			@include respond-to(small-max) {
				width: 100%;
				top: -100px;
			}
		}


		&-left,
		&-right {
			@include respond-to(small-max) {
				float: none;
				position: relative;
			}
		}
	}


	&__img {
		&-triangle {
			position: absolute;
			@include respond-to(small-max) {
				display: none;
			}


			&_left {
				top: 100px;
				left: -100px;
			}


			&_right {
				top: 300px;
				right: -100px;
			}
		}
	}
}