///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			: return-value(color, white);
$c-nero 			: return-value(color, nero);
$c-ruby 			: return-value(color, ruby);
$c-dodger-blue		: return-value(color, dodger-blue);

$f-PN_black         : return-value(fonts, PN_black);
$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN
///
.list {
  overflow: hidden;

  &__row {
    position: relative;
    min-height: 450px;
    @include respond-to(small-max) {
      min-height: 500px;
    }


    &-0 {
      .list__number {
        top: 20px;
        left: 400px;
        @include respond-to(medium) {
          left: 250px;
        }
        @include respond-to(small-max) {
          top: 50px;
          left: 100px;
        }
      }
      .list__img {
        top: 30px;
        left: -100px;
        @include respond-to(medium) {
          left: -170px;
        }
        @include respond-to(small-max) {
          top: 120px;
          left: -150px;
          width: 280px;
        }
      }
      .list__wrap {
        padding-top: 150px;
      }
    }
    &-1 {
      .list__number {
        top: -80px;
        left: 15px;
        @include respond-to(medium) {
          top: -90px;
        }
      }
      .list_skew {
        overflow: hidden;
      }
      .list__img {
        top: -50px;
        right: 150px;
        @include respond-to(medium) {
          right: -100px;
        }
        @include respond-to(small-max) {
          top: 110px;
          right: -70px;
          width: 250px;
        }
      }
      .list__wrap {
        padding-top: 60px;
        @include respond-to(medium-max) {
          padding-top: 0;
        }
        @include respond-to(small-max) {
          width: 70%;
        }
      }
    }
    &-2 {
      .list__number {
        top: -110px;
        left: 400px;
        color: $c-white;
        @include respond-to(medium) {
          top: -100px;
          left: 150px;
        }
        @include respond-to(small-max) {
          top: -90px;
          left: 100px;
        }
      }
      .list__img {
        left: 100px;
        @include respond-to(medium) {
          left: 0;
        }
        @include respond-to(small-max) {
          left: -120px;
        }
      }
      .list__title,
      .list__text {
        color: $c-nero;
      }
      .list__wrap {
        padding-top: 40px;
        @include respond-to(medium) {
          padding-top: 20px;
        }
      }
    }
    &-3 {
      .list__number {
        top: -10px;
        left: 15px;
        @include respond-to(medium) {
          top: 5px;
        }
        @include respond-to(small-max) {
          top: 40px;
        }
      }
      .list_skew {
        overflow: hidden;
      }
      .list__img {
        top: -50px;
        right: 100px;
        @include respond-to(medium-max) {
          right: -200px;
        }
        @include respond-to(small-max) {
          top: 170px;
        }
      }
      .list__wrap {
        padding-top: 120px;
        @include respond-to(medium) {
          padding-top: 80px;
        }
        @include respond-to(small-max) {
          width: 70%;
          padding-top: 100px;
        }
      }
    }
    &-4 {
      .list__number {
        top: -100px;
        left: 400px;
        @include respond-to(medium) {
          top: -120px;
        }
        @include respond-to(small-max) {
          left: 220px;
        }
      }
      .list_skew {
        overflow: hidden;
      }
      .list__img {
        top: -100px;
        left: 0;
        @include respond-to(small-max) {
          top: 220px;
          left: -30px;
          width: 270px;
        }
      }
      .list__wrap {
        padding-top: 50px;
        @include respond-to(medium-max) {
          padding-top: 0;
        }
      }
    }


    &-0,
    &-2,
    &-4 {
      .list__wrap {
        position: relative;
        left: 400px;
        @include respond-to(medium) {
          left: 270px;
        }
        @include respond-to(small-max) {
          left: 120px;
          width: calc(100% - 120px);
        }
      }
    }


    &-1,
    &-2,
    &-4 {
      min-height: 400px;
	    @include respond-to(small-max) {
		    min-height: 500px;
	    }
    }


    &_ruby {
      .list__number {
        color: $c-ruby;
      }


      .list_skew {
        top: 75px;
        transform: skewY(4deg);
        background-color: $c-ruby;
      }
    }


    &_blue {
      .list__number {
        color: $c-dodger-blue;
      }


      .list_skew {
        top: -65px;
        transform: skewY(-4deg);
        background-color: $c-dodger-blue;
      }

      .container {
        .list_skew {
          min-height: 400px;
          @include respond-to(small-max) {
            min-height: 500px;
          }
        }
      }
    }


    &_white {
      min-height: 250px;
      z-index: 0;


      .list__number {
        color: $c-white;
      }


      .list_skew {
        transform: skewY(-4deg);
        background-color: $c-white;


      }
    }
  }


  &_skew {
    position: absolute;
    @include mixinDimensions($w-all);
    left: 0;
    bottom: 0;
  }


  &__number {
    position: absolute;
    top: 0;
    z-index: 100;
    font: {
      size: 65px;
      family: $f-PN_black;
    }
    line-height: 1;
    @include respond-to(small-max) {
      font-size: 35px;
    }
  }


  &__img {
    position: absolute;
    z-index: 15;
    float: left;
  }


  &__title {
    font: {
      size: 35px;
      family: $f-PN_bold;
    }
    line-height: 1.2;
    letter-spacing: 2px;
    padding-bottom: 40px;
    @include respond-to(medium) {
      font-size: 25px;
    }
    @include respond-to(small-max) {
      font-size: 18px;
    }
  }


  &__text {
    font-size: 18px;
    @include respond-to(medium) {
      font-size: 16px;
    }
    @include respond-to(small-max) {
      font-size: 14px;
    }
  }


  &__title,
  &__text {
    width: 60%;
    color: $c-white;
    @include respond-to(small-max) {
      width: 100%;
    }
  }
}