///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-nero             : return-value(color, nero);
$c-dodger-blue      : return-value(color, dodger-blue);

$f-PN_bold			    : return-value(fonts, PN_bold);
$f-PN_regular    	  : return-value(fonts, PN_regular);
///
/// MAIN BLOCK
///
.modal {
	display: none;
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	@include mixinDimensions(100%);
	background-color: rgba(0,0,0,.80);
	@include respond-to(small-max) {
		overflow-y: auto;
	}


	&__container {
		position: relative;
		z-index: 1002;
		top: 50%;
		left: 50%;
		max-width: 630px;
		min-height: 604px;
		margin-top: -(604 / 2) * 1px;
		margin-left: -(630 / 2) * 1px;
		background-color: $c-dodger-blue;
		padding: 60px 15px 40px;
		text-align: center;
		overflow: hidden;

		@include respond-to(small-max) {
			width: 95%;
			left: 0;
			right: 0;
			margin:{
				top: 0;
				bottom: 15px;
				left: auto;
				right: auto;
			}
			top: 15px;
			padding-top: 50px;
			padding-bottom: 15px;
		}
	}


	&__form {
		position: relative;
		z-index: 10;
	}


	&__img {
		position: absolute;
		z-index: 0;
		left: 0;
		bottom: 0;
	}


	&__title {
		font: {
			size: 25px;
			family: $f-PN_bold;
		}
		color: $c-white;
		text-transform: uppercase;
		letter-spacing: 3px;
		@include respond-to(small-max) {
			font-size: 18px;
		}


		&-sub {
			text-align: center;
			font: {
				size: 20px;
				family: $f-PN_bold;
			}
			color: $c-white;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: 40px;
			margin-bottom: 20px;
			@include respond-to(small-max) {
				font-size: 16px;
			}
		}
	}


	&__input {
		display: inline-block;
		@include mixinDimensions(430px, 56px);
		border: {
			width: 2px;
			style: solid;
			color: $c-white;
		}
		font: {
			family: $f-PN_regular;
		}
		color: $c-white;
		background-color: transparent;
		margin-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		@include respond-to(small-max) {
			width: 100%;
		}
	}


	&__wrap {
		width: 430px;
		margin-left: auto;
		margin-right: auto;

		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		text-align: left;
		@include respond-to(small-max) {
			width: 100%;
			flex-direction: column;
		}
	}


	&__checkbox {
		position: relative;
		width: 50%;
		color: $c-white;
		margin-bottom: 20px;
		font-size: 18px;
		@include respond-to(small-max) {
			width: 100%;
		}
	}


	&__btn {
		display: block;
		margin: {
			left: auto;
			right: auto;
		};
	}
}


.btn.btn-modal {
	display: inline-block;
	width: 430px;
	height: 84px;
	line-height: 84px;
	margin-top: 40px;
	padding-left: 0;
	font-size: 25px;
	@include respond-to(small-max) {
		width: 100%;
		margin-top: 20px;
	}
}

.btn-close {
	position: absolute;
	right: 15px;
	top: 15px;
	@include mixinDimensions(34px, 23px);

	&__line-0 {
		transform: rotate(-45deg);
	}
	&__line-1 {
		transform: rotate(45deg);
	}


	&__line-0,
	&__line-1 {
		position: absolute;
		@include mixinDimensions(34px, 2px);
		top: 10.5px;
		right: 0;
		transition: all .3s ease-in-out;
		background-color: #fff;
	}
}

input.modal__input::-webkit-input-placeholder {color: $c-white;}
input.modal__input::-moz-placeholder {color: $c-white;}
input.modal__input:-moz-placeholder {color: $c-white;}
input.modal__input::placeholder {color: $c-white};

.checkbox__btn-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	@include retina-sprite($sp-i-radiobtn-group);

	.active & {
		@include retina-sprite($sp-i-radiobtn-active-group);
	}
}