///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all          : return-value(dimension, all);

$c-white			  : return-value(color, white);
$c-ruby 			  : return-value(color, ruby);
$c-dodger-blue  : return-value(color, dodger-blue);
///
/// MAIN
///
.video {
	padding: {
		top: 100px;
		bottom: 30px;
	};


	.main__title {
		float: left;

		padding-bottom: 100px;
	}


	&__row {
		position: relative;
		min-height: 500px;


		&-0 {
			.video_skew {
				background-color: $c-ruby;
				bottom: -85px;
				transform: skewY(4deg);
			}


			.video__wrap {
				&-1 {
					padding-left: 50px;
				}

				&-0,
				&-1 {
					float: left;
				}
			}
		}


		&-1 {
			.video_skew {
				background-color: $c-dodger-blue;
				top: -50px;
				transform: skewY(-4deg);
			}


			.video__wrap {
				&-1 {
					padding-right: 50px;
				}

				&-0,
				&-1 {
					float: right;
				}
			}
		}



	}


	&_skew {
		position: absolute;
		bottom: 0;
		left: 0;
		@include mixinDimensions($w-all, 400px);
	}


	&__wrap {
		&-0 {
			position: relative;
			@include mixinDimensions(650px, 390px);

			iframe {
				@include mixinDimensions($w-all);
			}
		}


		&-1 {
			width: calc(100% - 650px);
		}
	}


	&__text {
		font-size: 20px;
		color: $c-white;
		padding-top: 100px;


		&-wrap {
			display: inline-block;
		}


		&-0 {
			&::before {
				margin-right: 10px;
				@include retina-sprite($sp-i-video-arrow-0-group);
			}
		}
		&-1 {
			float: right;


			&::after {
				margin-left: 10px;
				@include retina-sprite($sp-i-video-arrow-1-group);
			}
		}


		&-0,
		&-1 {
			&::before,
			&::after {
				content: "";
				display: inline-block;
				vertical-align: top;
			}
		}
	}


	&__btn {
		display: block;
		margin-top: 40px;
	}
}