///
/// IMPORT FILES
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-nero 			      : return-value(color, nero);
$c-ruby  			      : return-value(color, ruby);
$c-dodger-blue      : return-value(color, dodger-blue);

$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN
///
.btn {
	position: relative;
	@include mixinDimensions(370px, 80px);
	line-height: 80px;
	border-radius: 3em;
	box-shadow: 0 10px 37px 0 rgba(112, 11, 50, 0.3);
	color: $c-white;
	font: {
		size: 25px;
		family: $f-PN_black;
	}
	text-transform: uppercase;
	text-align: center;
	transition: all .3s ease-in-out;
	@include respond-to(small-max) {
		font-size: 18px;
		@include mixinDimensions(240px, 55px);
		line-height: 55px;
	}


	&__text {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - 90px);
	}


	&__icon {
		display: inline-block;
		@include retina-sprite($sp-i-btn-arrow-group);


		&-wrap {
			position: absolute;
			top: 0;
			right: 0;
			width: 90px;
		}
	}


	&_ruby {
		background-color: $c-ruby;


		&:hover {
			background-color: lighten($c-ruby, 5%);
		}
	}


	&_blue {
		background-color: $c-dodger-blue;


		&:hover {
			background-color: lighten($c-dodger-blue, 5%);
		}
	}


	&_ruby,
	&_blue {
		&:active {
			box-shadow: none;
		}


		&:hover,
		&:active {
			transition: all .3s ease-in-out;
		}
	}
}


.main__title {
	position: relative;
	font: {
		size: 35px;
		family: $f-PN_black;
	}
	color: $c-nero;
	line-height: 1.2;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-top: 50px;
	@include respond-to(medium) {
		font-size: 25px;
	}
	@include respond-to(small-max) {
		font-size: 20px;
	}


	&:before {
		content: "";
		position: absolute;
		@include mixinDimensions(100px, 4px);
		background-color: $c-ruby;
		top: 23px;
		left: 0;
	}
}


.owl {
	&-prev {
		@include retina-sprite($sp-i-prev-group);
		@include respond-to(medium-max) {
			@include retina-sprite($sp-i-prev-mobile-group);
		}


		&:hover,
		&:active {
			@include respond-to(extra-large) {
				//@include retina-sprite($sp-i-prev-h-group);
			}
		}
	}
	&-next {
		@include retina-sprite($sp-i-next-group);
		@include respond-to(medium-max) {
			@include retina-sprite($sp-i-next-mobile-group);
		}


		&:hover,
		&:active {
			@include respond-to(extra-large) {
				//@include retina-sprite($sp-i-next-h-group);
			}
		}
	}
	&-prev,
	&-next {
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
	}
}


.social {
	&__vk {
		&-black {
			@include retina-sprite($sp-i-vk-black-group);
		}
	}
	&__fb {
		&-black {
			@include retina-sprite($sp-i-fb-black-group);
		}
	}


	&__fb,
	&__vk {
		&-black {
			display: inline-block;
			vertical-align: middle;
			margin: {
				left: 5px;
				right: 5px;
			};
		}
	}
}


input[type="checkbox"],
input[type="radio"] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	border: none;
	margin: 0;
	padding: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	outline: 0;
}