include ../../_mixin/mixin

-
    var socialArr = [
        "vk",
        "fb"
    ];

.header__fixed.animated
    .container.clearfix

        +socialBtn(socialArr, "header__fixed-social")

        +btnMenuBurger("header__fixed-burger")