-
    var navLink = [
        "Главная",
        "Об устройстве",
        "Технические особенности",
        "Доставка и оплата",
        "Контакты",
        "Технические поддержка"
    ];
    var navLinkHref = [
        "#",
        "#",
        "#",
        "#",
        "#",
        "#"
    ];


nav.nav
    .container-fluid
        ul.nav__list
            -for(var i = 0; i < navLink.length; i++)
                li.nav__item
                    a(
                        href= navLinkHref[i]
                        title=""
                        class="nav__btn"
                    )!= navLink[i]

