include ../_mixin/macrosMixin


-
    var mainTitle = "Оцените качество</br>съемки AKENORI</br>прямо сейчас!";


section.video

    .video__row.video__row-0

        .video_skew

        .container
            .video__wrap
                iframe(src="https://www.youtube.com/embed/3pHDqucH-Ys" frameborder="0" allowfullscreen)

            +mainTitle(mainTitle)

    .video__row.video__row-1

        .video_skew

        .container.clearfix
            .video__wrap
                iframe(src="https://www.youtube.com/embed/m5XozId5sPA" frameborder="0" allowfullscreen)
