include _mixin/mixin


doctype html
html(lang="en")


    +headSite("AkenorI next level 3", linkSite.styleLink, "")


    body


        include _template/header
        include _template/sentence
        include _template/car
        include _template/list
        include _template/advantages
        include _template/video
        include _template/more
        include _template/delivery


        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])